<!DOCTYPE html>
<html lang="en">
    <head>
    <title>關於虎斑日記</title>
    
    </head>
  <body>
   

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <div class="jumbotron">
            <h1>虎斑日記</h1>
            <p>這是我的鬆獅蜥「虎斑」，在這邊放一些照片與大家分享！</p>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <h2>關於虎斑日記</h2>
              <p>我是一個設計師，平常也沒什麼特別興趣，因為自身念的科系的關係，很常在趕設計就飽了＝＝，因為有朋友和親戚都在養一些很不一樣的寵物，因此興起了想要養爬蟲類的念頭XD，於是就在兩年前碰到了虎斑，也因此作了很多功課！鬆獅蜥的習性啊、怎麼餵食啊、泡水和曬太陽等等的，也就因此一頭栽進去了！鬆獅蜥怎麼這麼可愛啊~~~~><
                <br>最近忽然興起了念頭，想要記錄虎斑的點點滴滴，想要跟大家分享這一切，一方面把自己的回憶好好記下來，另一方面希望可以讓更多人加入養蜥蜴的行列啊！！就是這樣，請大家多多指教囉:P</p>
              <img src="/assets/lizard_2010_04.jpg" class="img-thumbnail">
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        <br>

        <div class="col-xs-12 col-sm-12 col-md-3" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
              <img src="/assets/face.jpg" class="face">
            <div class="user_info">
              <h3>Kelly</h3>
              <p><a  href="mailto:viator75@hotmail.com">zaaas@hotmail.com</a></p>
              <p>台北 Taipei</p>
                <a herf="#" class="btn btn-default btn-xs seperate">＃鬆獅蜥</a><!-- 連到share.html --> <a herf="#" class="btn btn-default btn-xs">＃綠鬣蜥</a></p><!-- 連到share.html -->
              </div>
            <ul class="nav">
              <li><a href="#" class="btn btn-primary">Follow＋</a></li><br>
              <li><a href="#"class="btn btn-success">我也要分享我的蜥蜴</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>我的虎斑日記</p>
      </footer>

    </div><!--/.container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
	</script>
  </body>
</html>
