<!DOCTYPE html>
<html lang="en">
    <head>
    <title>關於虎斑App</title>
  </head>
  <body>
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <h2>關於虎斑App</h2>
              <p>由於對於爬蟲的熱愛，所以建立了龜龜日記來分享我的龜龜生活。不過在做這個網站的同時，發現上傳照片有些麻煩，現在幾乎上網都被平板或是手機取代，因為自己的方便，我也規劃了app上傳的功能，希望可以讓操作更方便。而且平常工作又有點忙碌，只能一點一點慢慢做了，若你也對這個app或是網站有想法歡迎寫信跟我討論:)請大家多多指教囉！</p>
              <br>
              <%= simple_form_for(@contact) do |f| %>
              <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 adjust-left">
                <h4>姓名：</h4>
              <%= f.input_field :name, :required => true, :label => "姓名：" , :class => "form-control" , :placeholder => "如何稱呼您呢？"%></div>
              </div>
              <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 adjust-left">
                 <h4>Email：</h4>
              <%= f.input_field :email, :required => true, :label => "電子信箱：" , :class => "form-control"  , :placeholder => "留下您的email有任何虎斑的更新系統就會自動通知您喔～"%></div>
              </div>
              <div class="row">
              <div class="col-xs-12 col-sm-12 col-lg-12 adjust-left">
                 <h4>想對我們說的話：</h4>
              <%= f.text_area :content, :required => true, :label => "想對我們說的話：" , :class => "form-control" , :style =>"overflow:visible" , :placeholder=> " 任何建議或想對我們說的話..."%></div>
              </div>
              <br>
              <div class="row">
              <div class="clearfix pull-right adjust-right">
              <%= f.submit "送出" , :class => "btn btn-primary"%>
              <% end %>
              </div>
              <br>
              <br><br>
            </div>
              <img src="/assets/lizard_2010_04.jpg" class="img-thumbnail">
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        <br>
  </body>
</html>
