<!DOCTYPE html>
<html lang="en">
    <head>
    <title>我的虎斑日記</title>
  </head>
  <body>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <div class="jumbotron">
            <h1>虎斑日記</h1>
            <p>這是我的鬆獅蜥「虎斑」，在這邊放一些照片與大家分享！</p>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <h2>養爬蟲？</h2>
              <p>其實那時候的我，想要養爬蟲動物好一陣子了，也做了一些研究，但卻遲遲沒有下決定，到底要養哪一隻。直到那天...原本只是想隨便逛逛爬蟲店的我，看到了隻鬆獅蜥，第一眼就覺得：天啊！就是他了！！立刻就覺得想要把他帶回家了！！！因為覺得他的花紋其實很想偽裝的老虎(?)，所以就決定叫他虎斑了！</p>
              <img src="/assets/lizard_2010_02.jpg" class="img-thumbnail">
            </div><!--/span-->
            <div class="col-12 col-sm-12 col-lg-12">
              <h2>虎斑！</h2>
              <p>你看看他雄赳赳氣昂昂的樣子！是不是很威風！猜猜看他是公的還是母的嘻嘻！</p>
              <img src="/assets/lizard_2010_01.jpg" class="img-thumbnail">
            </div><!--/span-->
            <div class="col-12 col-sm-12 col-lg-12">
              <h2></h2>
              <p>把他拿在手上，他也不會反抗，真的就如同大家說的一樣，不會怕人，很容易親近呢！這張有種他任人宰割的感覺XD</p>
              <img src="/assets/lizard_2010_03.jpg" class="img-thumbnail"><br><br><br>
              <p>後來覺得，走入養蜥蜴的領域真的沒錯啊！！養一養就養上癮了！！到現在虎斑也陪伴了我兩年多了，現在的生活已經不能沒有他了啊！！之後再向大家分享虎斑的其他點點滴滴 :)</p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        <br>
  </body>
</html>
