<!DOCTYPE html>
<html lang="en">
    <head>
    <title>我的虎斑日記</title>
  </head>
  <body>
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <h2>也想分享你的寶貝嗎？</h2>
              <p>現在網站功能還沒全部上線，不能自行上傳，但可以透過我這邊幫您新增你的寵物頁面，歡迎留言告訴我，或是你喜歡我的頁面也能在下面留下你的email，有新的頁面系統就會直接通知你:)</p>
              <img src="/assets/lizard_2010_04.jpg" class="img-thumbnail">
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        <br>
  </body>
</html>
