<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>您好, 我是<%= @contact.name %></h1>
    <h2>來自<%= @contact.email %></h2>
    <p>
      我想說的是: <%= @contact.content %>.<br/>
    </p>
  </body>
</html>