/*
 * Style twaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.jumbotron{
  background-image: url('/assets/lizard_2010_03.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
}

.jumbotron p{
  width: 100%;
  background-color: rgba(153, 153, 153, 0.8);
}

h1{
  text-shadow:1px 2px rgba(153, 153, 153, 0.8);
}

.fb-like{
  float: right;
  margin-top: -10px;
  /*padding-bottom: 20%;*/
}

