<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45242151-1', 'reptile-lizard.herokuapp.com');
  ga('send', 'pageview');

</script>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://localhost:3000">虎斑日記</a></li>
            <li><a href="/about">關於虎斑日記</a></li>
            <li><a href="/launch">虎斑App下載</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <div class="jumbotron">
            <h1>虎斑日記</h1>
            <p>這是我的鬆獅蜥「虎斑」，在這邊放一些照片與大家分享！</p>
            <div class="fb-like" data-href="http://reptile-lizard.herokuapp.com" data-width="auto" data-height="auto" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
          </div>
<%= yield %>

<div class="col-xs-12 col-sm-12 col-md-3" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
              <img src="/assets/kelly_face.jpg" class="face">
            <div class="user_info">
              <h3>Kelly</h3>
              <p><a  href="mailto:viator75@hotmail.com">zaaas@hotmail.com</a></p>
              <p>台北 Taipei</p>
                <a herf="/share" class="btn btn-default btn-xs seperate">＃鬆獅蜥</a> <a herf="/share" class="btn btn-default btn-xs">＃綠鬣蜥</a><br><br>
              </div>
            <ul class="nav">
              <li><a href="/share" class="btn btn-primary">Follow＋</a></li><br>
              <li><a href="/share" class="btn btn-success">我也要分享我的蜥蜴</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>我的虎斑日記</p>
      </footer>
    </div><!--/.container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap.min.js"></script>
  <script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
  </script>
</body>
</html>
